.box-question-container{
    width: 80%;
    display: flex;
    margin:auto;
    flex-direction: column;
    margin-top: 40px;
}

p{
    font-size: large;
    font-weight: bold;
}

.input-questions{
    width: 100%;
    padding: 20px;
}

input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .submit-add-question{
    margin-top: 50px;
    width: 10%;
  }

  
.submit-add-question{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .submit-add-question:hover,
  .submit-add-question:active{
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .submit-add-question:active {
    opacity: .5;
  }
  