.box-question-container{
    width: 80%;
    display: flex;
    margin:auto;
    flex-direction: column;
    margin-top: 40px;
}

p{
    font-size: large;
    font-weight: bold;
}

label{
  all: initial;
}
.label-style{
  font-family: sans-serif;
  font-weight: bold;
}

.options-container{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: auto;
}
.input-questions{
  width: 90%;
  padding: 20px;
}

.add-text-container,
.add-image-container,
.option-1-container,
.option-2-container,
.option-3-container,
.option-4-container{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.input-answers-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .submit-add-question{
    margin-top: 25px;
    width: auto;
    
  }

  .button-submit-container{
    display: flex;
    justify-content: center;
  }

.submit-add-question{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .submit-add-question:hover,
  .submit-add-question:active{
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .submit-add-question:active {
    opacity: 0.5;
  }
  