li{
    list-style-type: none; 
    padding: 0.5rem;
}
.nav-bar-container{
    display: flex;
    background-color: #9E9E9E;
    box-shadow: 1px 10px 7px #373636;
}

.ul-nav-bar{
    font-family: "Chivo Mono",monospace;
    display: flex;
    gap:72px;
}

.ul-nav-bar .li-nav-bar{
    list-style: none;
}

.ul-nav-bar .li-nav-bar a {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    padding:10px;
    transition: 0.5s ease;   
}

.ul-nav-bar:hover .li-nav-bar a {
    color:#30edf4;
}

.ul-nav-bar:hover .li-nav-bar a:not(:hover){
    color:white;
    opacity: 0.3;
    filter: blur(1px);
}

.input-search{
    margin-top: 16px;
    margin-left: 55px;
    height: 30px;
    border-radius: 8px;
    border-width: inherit;
}

.btn-search{
    margin-left: 6px;
    width: 39px;
    height: 30px;
    margin-top: 16px;
}
 