.box-container-start-exam{
    display: flex;
    flex-direction: column;
    background-color: #d5f2ff;
    align-items: center;
    margin:auto;
    margin-top: 20px;
    border-radius: 25px;
    width: auto;
    max-width: 700px;
    min-width: 300px;
}

.question-container{
    width: 100%;
}

.question-style{
    font-weight:900;
    margin-left: 15px;
    word-wrap: break-word;
}

.option-style{
    width: 90%;
    font-weight: 900;
    color: black;
    word-wrap: break-word;
}

.img-style-display-question{
    width: 90%;
    object-fit: fill;
    margin-left: 26px;
}

.button-delete-question{
    margin-top: 50px;
    width: auto;
  }

.button-delete-question{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  